[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
